{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="{{ user.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="{{ "/assets/js/script.js" | relative_url }}"></script>
  </head>
  <body>
    <div class="page-container">
      <header class="page-header">
        <div class="logo">
          <h1><a href="/"><span class="typed"></span></a></h1>
        </div>

        <nav class="navbar">
          <ul class="navigation" id="main-menu">
            {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.link }}" class="{{ item.color }}{% if page.url == item.link %} active{% endif %}">
                {{ item.name | upcase }}
              </a>
            </li>
          {% endfor %}
          </ul>

          <button class="hamburger hamburger--collapse" type="button" id="menu-button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </nav>


      </header>
