<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/icons/apple-touch-icon.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/icons/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/icons/favicon-16x16.png" | relative_url }}">
    <link rel="manifest" href="{{ "/assets/img/icons/site.webmanifest" | relative_url }}">
    <link rel="mask-icon" href="{{ "/assets/img/icons/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/assets/img/icons/browserconfig.xml" | relative_url }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ "/assets/css/styles.css" | relative_url }}?v={{ "now" | date: "%s" }}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="{{ "/assets/js/script.js" | relative_url }}?v={{ "now" | date: "%s" }}"></script>
  </head>
  <body>
    <div class="page-container">
      <header class="page-header">
        <div class="logo">
          <h1><a href="/"><span class="typed"></span><span style="display: none">eciavatta</span></a></h1>
        </div>

        <nav class="navbar">
          <ul class="navigation" id="main-menu">
            {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.link }}" class="{{ item.color }}{% if page.url == item.link %} active{% endif %}">
                {{ item.name | upcase }}
              </a>
            </li>
          {% endfor %}
          </ul>

          <button class="hamburger hamburger--collapse" type="button" id="menu-button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </nav>
      </header>
