@import "colors";
@import "effects";

.page-footer {
  text-align: center;
  margin: 20px 0;

  .social-buttons {
    list-style: none;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 5px;

      svg {
        width: 24px;
        height: 24px;
        fill: $red;
        @include animate("fill");
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin: 40px 0;
  }
}
