@import "colors";

.page-header {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  padding: 8px 20px;
  background-color: #fff;
  z-index: 10;

  .logo {
    flex: 1;

    h1 {
      font-size: 1.3em;
      font-weight: 500;

      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .navbar {
    .hamburger {
      padding: 0;
      width: 32px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      animation-name: rainbow;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      width: 32px;
    }

    .navigation {
      display: none;
      list-style: none;
      padding: 0;

      position: fixed;
      background-color: #fff;
      top: 50px;
      left: 0;
      right: 0;
      z-index: 10;
      height: 100%;

      li {
        // display: inline-block;
        margin-left: 10px;
        text-align: center;
        margin: 20px 0;
        font-size: 1.5em;

        a {
          position: relative;
          text-decoration: none;
          font-weight: 500;
          font-size: 0.9em;
          border-radius: 5px;
          padding: 2px;
        }

        a::after {
          content: "";
          display: block;
          left: 0;
          position: absolute;
          transform: scaleX(0);
          transform-origin: center left;
          transition-duration: 0.4s;
          transition-property: transform;
          width: 100%;
          bottom: 0;
          height: 2px;
        }

        a:hover::after {
          transform: scaleX(1);
        }
      }

      &.is-active {
        display: block;
      }
    }
  }

  @media screen and (min-width: 768px) {
    .logo {
      margin: 20px 0;
    }

    .navbar {
      display: block !important;

      .hamburger {
        display: none;
      }
    }
  }
}
