@import "colors";
@import "effects";

.page-header {
  display: flex;
  align-items: center;
  height: 50px;

  .logo {
    flex: 1;

    h1 {
      font-size: 1.3em;
      font-weight: 500;
    }
  }

  .navbar {
    .hamburger {
      padding: 0;
      width: 32px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after,
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      @include animate("background");
      width: 32px;
    }

    .navigation {
      list-style: none;
      padding: 0;

      li {
        text-align: center;
        margin: 20px 0;
        font-size: 1.5em;

        a {
          position: relative;
          font-weight: 500;
          font-size: 0.9em;
          padding: 2px;
        }

        a::after {
          content: "";
          display: block;
          left: 0;
          position: absolute;
          transform: scaleX(0);
          transform-origin: center left;
          transition-duration: 0.4s;
          transition-property: transform;
          width: 100%;
          bottom: 0;
          height: 2px;
        }

        a:hover::after {
          transform: scaleX(1);
        }
      }

      &.is-active {
        display: block;
      }
    }
  }

  // mobile + tablet
  @media screen and (max-width: 768px) {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $background-color;
    z-index: 200;
    padding: 0 15px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);

    .navbar {
      .navigation {
        display: none;
        position: fixed;
        background-color: $background-color;
        top: 35px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        padding-top: 40px;
      }

      .navigation::before {
        position: absolute;
        top: -4px;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.15);
        height: 5px;
      }
    }

    .logo {
      h1 {
        font-size: 1.3em;

        a {
          color: $red;
          @include animate("color");
        }
      }
    }
  }

  // desktop
  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
    margin-top: 30px;

    .navbar {
      .navigation {
        li {
          display: inline-block;
          margin-left: 10px;
          font-size: 1em;
        }
      }

      .hamburger {
        display: none;
      }
    }
  }
}
