---
---

@import "header";
@import "footer";
@import "colors";
@import "effects";
@import "hamburgers";

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

body {
  font-family: "Fira Code", monospace;
  font-size: 90%;
  margin: 0;
  height: 100vh;
  color: $text-color;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  margin: 0 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  margin-top: 70px;

  .main-image {
    width: 100%;
  }

  p {
    text-align: justify;
    margin: 10px 0;
  }

  a {
    color: $red;
    font-weight: 500;
    position: relative;
    padding: 0 1px;
    @include animate("color");
  }

  a::after {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2px;
    background-color: $red;
    @include animate("background");
  }

  .page-title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 300;
  }
}

.home-page {
  display: flex;
  align-items: center;

  .home-content {
    width: 100%;
    text-align: center;
  }

  .photo {
    border-radius: 50px;

    img {
      width: 200px;
      border-radius: 200px;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
  }

  h2 {
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    font-weight: 400;
    font-size: 1.3em;
    margin-top: 20px;

    .code {
      width: auto;
      background-color: $code-color;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  h4 {
    font-weight: 400;
    margin-top: 10px;
    font-style: italic;
  }

  h5 {
    font-weight: 400;
    font-size: 1em;
    margin: 10px;
  }
}

.active::after {
  transform: scaleX(1) !important;
}

@media screen and (min-width: 768px) {
  .page-container {
    width: 768px;
    margin: 0 auto;
  }
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: $text-color;
}
